# CSV File
./ml-dataset/kaggle_london_house_price_data.csv
./ml-dataset/kaggle_london_enriched.csv

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc


# Build outputs
build/
dist/
*.egg-info/
.next/
out/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/
.pytest_cache/

# Next.js
.next/
out/
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
ml-dataset/kaggle_london_house_price_data.csv
ml-dataset/kaggle_london_enriched.csv
backend/.env
